body {
    background-color: black;
    color: #fdfffd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('pizza-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.container {
    width: 80%;
    margin: auto;
}

.pizza {
    border: 1px solid;
    margin-bottom: 0.5cm;
    padding: 0.5cm ;
    width: 15cm;
    flex: 1;
    border-radius: 0.25cm;
    display: inline-block;
    width: 10cm;
    background-color: cornflowerblue;
    color: black;
}

.cart, .pizzas {
    margin-bottom: 20px;
    padding: 20px;
    /* border: 1px solid #201f1f; */
    border-radius: 8px;
    /* background-color: #1d1b1b; */
}

.cart h2, .pizzas h2 {
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
    color: red;
}

table {
    width: 10%;
    border-collapse: collapse;
    margin-bottom: 20px;
    flex: 1;
    background-color: coral;
}

th, td {
    border: 1px solid #161515;
    padding: 8px;
    text-align: left;
    flex:auto
}

th {
    background-color: coral;
}

tr:nth-child(even) {
    background-color: coral;
}

tr:hover {
    background-color: #161515;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

[x-cloak] { display: none !important; }


@media only screen and (max-width: 600px) {
    .table {
      background-color: lightblue;
    }
  }

  .conclusion {
    background-color: cadetblue;
    border: 1px solid;
    margin-bottom: 0.5cm;
    padding: 0.5cm ;
    width: 15cm;
    flex: 1;
    border-radius: 0.25cm;
    display: inline-block;
    width: 10cm;
    background-color: cornflowerblue;
    color: black;
    text-decoration: solid;
  }
